<!DOCTYPE html>
<html>
  <head>
    <title>Project Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="bg-[url('/static/images/tv.jpg')] text-white">
    {% include "partials/header.html" %}
    <!-- <main class="bg-gradient-to-t from-rose-500 to-black p-5 flex flex-col items-center p-4"> -->
      <main>
      {% block content %}{% endblock %}
    </main>
  </body>

  <style>
    @font-face {
      font-family: horrorFont;
      src: url(/static/fonts/horror.woff);
    }
  </style>
</html>
