.inputs {
  display:flex;
  flex-direction: column;
  padding: 3px;
  margin: 8px;
  justify-content: space-between;
  align-items: center;
}

.input {
  padding: 4px;
  border-radius: 2px;
  margin: 2px 0px;
}

.nav-item {
  /* background-color: rgba(128, 128, 128, 0.581); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  padding: 4px 9px;
}

.enter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 7px 0px;
  width: 100%;
}

.movie {
  margin: 1rem;
  border-radius: 2px;
  /* background-color: rgba(87, 48, 124, 0.816); */
  /* width: 150px; */
  /* height: 220px; */
  padding: 8px;
  display: flex;
  align-items: end;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.tag {
  margin: 10px;
  border:rgba(162, 162, 162, 0.816) 3px solid;
  border-radius: 2px;
  background-color: rgba(219, 215, 223, 0.299);
  width: 150px;
  height: 60px;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: larger;
}

.button {
  padding: 0px 10px;
  background-color: rgb(19, 137, 196);
  border-radius: 4px;
  margin: 20px;
  color: white;
  height: fit-content;
}

.button:hover, a:hover {
  filter: brightness(80%);
}

.brighten:hover {
  filter: brightness(150%);
}

.title {
  font-size: 25px;
  width: 100%;
  text-align: center;
  /* margin: 20px; */
}

.gallery {
  display:flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  /* margin: 1vh 0; */
}

main {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 3vh 2vw;
  /* padding: 0 3rem; */
  /* background-color: black; */
}

form {
  background-color: rgba(30, 30, 30, 0.786);
  border-radius: 3px;
  padding: 4px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
}