{% extends 'layouts/base.html' %} {% block content %}

<form class="w-[240px]" method="POST">
  <!-- {{ form.csrf_token }} -->
  <p class="title">Edit Movie</p>

  <div class="inputs">
    <div class="enter">
      <label>Title</label>

      <input
      class="input text-black"
      type="text"
      name="title"
      value="{{ form.title.data }}"
      required
    />
    </div>

    <div class="enter">
      <label>Release Year</label>

      <input
        class="input text-black"
        type="number"
        name="release_year"
        minlength="4"
        maxlength="4"
        value="{{ form.release_year.data }}"
        required
      />
    </div>

    <div class="w-full my-3">
      <p>Tags:</p>
      <div class="justify-start mt-1 flex flex-row space-x-3 flex-wrap">
        {% for tag in form.tags %}
        <div class="flex flex-row items-center">
          <input type="checkbox" name="tags" />
          <label for="tags">{{ tag }}</label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="button-pair">
    <a class="button bg-rose-400" href="{{ url_for('movies.delete', id=movie.id) }}">Delete</a>
    <button class="button">Save</button>
  </div>


</form>

{% endblock %}
