{% extends 'layouts/base.html' %} {% block content %}

<main>
  <form class="w-[240px]" method="POST">
    {{ form.csrf_token }}

<!--------- title -------------->
    <p class="title">Edit Movie</p>

    <div class="inputs">

<!--------- movie title -------------->
      <div class="enter">
        <label>Title</label>
        <input
          class="input text-black"
          type="text"
          name="title"
          value="{{ form.title.data }}"
          required
        />
      </div>

<!--------- release year -------------->
      <div class="enter">
        <label>Release Year</label>
        <input
          class="input text-black"
          type="number"
          name="release_year"
          min="1900"
          max="9999"
          value="{{ form.release_year.data }}"
          required
        />
      </div>

<!--------- tags -------------->
      {% if not isEmpty %}
      <div class="enter">
        <label class="mb-1" for="tags">Tags</label>
          <select class="" name="tags" multiple>
            {% for tag in current_user.tags %}
                <option value="{{ tag.id }}" class="text-black" 
                {% if tag in movie.tags %} selected {% endif %}>
                  {{ tag.name }}
                </option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
      
    </div>

<!--------- delete and save -------------->
    <div class="button-pair">
      <a
        class="button bg-rose-600 py-1"
        href="{{ url_for('movies.delete', id=movie.id) }}"
        >Delete</a
      >
      <button class="button">Save</button>
    </div>

  </form>
</main>

{% endblock %}
