{% extends 'layouts/base.html' %} {% block content %}

<form method="POST">
  {{ form.csrf_token }}

  <fieldset class="bg-slate-300/70 rounded-lg h-fit w-fit p-4 flex flex-col text-black space-y-2">
    <h2 class="text-center text-2xl">Edit Movie</h2>

    {{ form.title.label }}
    {{ form.title }}

    <ul>
      {% for error in form.title.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>

    {{ form.release_year.label }}
    {{ form.release_year }}

    <ul>
      {% for error in form.release_year.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>

    {{ form.tags.label }}
    {{ form.tags }}

    <ul>
      {% for error in form.tags.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>

    {{ form.submit }}
  </fieldset>
</form>

{% endblock %}
