{% extends 'layouts/base.html' %} {% block content %}
<main>
  <form class="w-[240px]" method="POST">
    <!-- {{ form.csrf_token }} -->

<!--------- title -------------->
    <p class="title">New Movie</p>

    <div class="inputs">

<!--------- movie title -------------->
      <div class="enter">
        <label>Title</label>
        <input class="input text-black" type="text" name="title" required />
      </div>

<!--------- release year -------------->
      <div class="enter">
        <label>Release Year</label>
        <input
          class="input text-black"
          type="number"
          name="release_year"
          min="1900"
          max="9999"
        />
      </div>

<!--------- tags -------------->
      {% if not isEmpty %}
      <div class="enter">
        <label class="mb-1" for="tags">Tags</label>
        <select class="" name="tags" multiple>
          {% for tag in current_user.tags %}
          <option value="{{ tag.id }}" class="text-black">
            {{ tag.name }}
          </option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

    </div>

<!--------- save -------------->
    <button class="button">Save</button>
  </form>
</main>

{% endblock %}
