{% extends 'layouts/base.html' %} {% block content %}
<main>
  <form class="w-fit" method="POST">
    <!-- {{ form.csrf_token }} -->

    <!--------- title -------------->
    <p class="title">New Movie</p>

    <div class="inputs">
      <!-- row1 -->
      <div class="flex flex-row">
        <!--------- movie title -------------->
        <div class="enter">
          <label>Title</label>
          <input
            class="input text-black"
            type="text"
            name="title"
            required
          />
        </div>

      </div>

      <div class="flex flex-row space-x-6">
        <!--------- release year -------------->
        <div class="enter">
          <label>Year</label>
          <input
            class="input text-black"
            type="number"
            name="release_year"
            min="1900"
            max="9999"
          />
        </div>
        <!--------- runtime -------------->
        <!-- <div class="enter">
          <label>Runtime</label>
          <input class="input text-black w-[90px]" type="text" name="runtime" />
        </div> -->

        <!--------- rated -------------->
        <div class="enter">
          <!-- <label>Rated</label>
          <input class="input text-black w-[60px]" type="text" name="rated" />
        </div>
      </div> -->

      <div class="flex flex-row space-x-6"></div>
      <!--------- director -------------->
      <!-- <div class="enter">
        <label>Director</label>
        <input class="input text-black" type="text" name="director" />
      </div> -->

      <div class="flex flex-row space-x-8">
        <!--------- budget -------------->
        <!-- <div class="enter">
          <label>Budget</label>
          <input class="input text-black" type="number" name="budget" />
        </div> -->

        <!--------- box office -------------->
        <!-- <div class="enter">
          <label>Box Office</label>
          <input class="input text-black" type="number" name="box_office" />
        </div> -->
      </div>

      <!--------- image url  -------------->
      <!-- <div class="enter">
  <label>Image Address</label>
  <input
    class="input text-black"
    type="text"
    name="img_url"
    required
  />
</div> -->

      <!--------- tags -------------->
      <!-- {% if not isEmpty %}
      <div class="enter">
        <label class="mb-1" for="tags">Tags</label>
        <select class="" name="tags" multiple>
          {% for tag in current_user.tags %}
          <option value="{{ tag.id }}" class="text-black">
            {{ tag.name }}
          </option>
          {% endfor %}
        </select>
      </div>
      {% endif %} -->
    </div>

    <!--------- save -------------->
    <button class="button">Save</button>
  </form>
</main>

{% endblock %}
