{% extends 'layouts/base.html' %} {% block content %}

<form class="w-[240px]" method="POST">
  <!-- {{ form.csrf_token }} -->
  <p class="title">New Movie</p>

  <div class="inputs">

    <div class="enter">
      <label>Title</label>

      <input
      class="input text-black"
      type="text"
      name="title"
      required
    />
    </div>

    <div class="enter">
      <label>Release Year</label>

      <input
        class="input text-black"
        type="number"
        name="release_year"
        min="1900"
        max="9999"
      />
    </div>

    <div class="w-full my-3">
      <p>Tags:</p>
      <div class="justify-start mt-1 flex flex-row space-x-3 flex-wrap">
        {% for tag in form.tags %}
        <div class="flex flex-row items-center">
          <input type="checkbox" name="tags" />
          <label for="tags">{{ tag }}</label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <button class="button">Save</button>

</form>

{% endblock %}
