{% extends 'layouts/base.html' %} {% block content %}
<div class="flex flex-row w-48 items-end">
  <div class="flex flex-col">
    <p class="title">{{ movie.title }}</p>
    <p>({{ movie.release_year }})</p>
  </div>
  <a class="edit" href="{{ url_for('movies.edit', id=movie.id) }}">edit</a>
</div>


<div class="flex flex-row justify-left flex-wrap m-3">
  {% for tag in movie.tags %}
  <div class="bg-slate-500 m-12 rounded-lg w-[150px] h-[80px] px-4 py-2 flex justify-center items-center">
    <a href="{{ url_for('tags.show', id=tag.id) }}" class="">{{ tag.name }}</a>
  </div>
  {% endfor %}

</div>

{% endblock %}
