{% extends 'layouts/base.html' %} {% block content %}
<main>

  <!--------- tag name -------------->
  <div class="flex flex-row w-full justify-center items-center">
    <p class="text-3xl w-fit">{{ tag.name }}</p>
    <a class="button bg-purple-800 my-0" href="{{ url_for('tags.edit', id=tag.id) }}">rename</a>
  </div>

  <!--------- movies -------------->
  <div class="gallery">
    {% for movie in tag.movies %}
      <a
        href="{{ url_for('movies.show', id=movie.id) }}"
        class="movie">
        <img width="150" src="{{ movie.img_url }}" />
        <p class="mt-1">{{ movie.title }} ({{ movie.release_year }})</p>
      </a>
    {% endfor %}
  </div>

</main>


{% endblock %}
