<div class="w-full flex flex-row items-end justify-between p-4 pb-2">
  <a
    class="text-3xl font-['horrorFont'] flex flex-row items-end"
    href="{{ url_for('main.index') }}"
  >
    <img class="w-[70px] m-2" src="/static/images/cackle.png" />
    <p>Horror Collect</p>
  </a>

  <div class="flex flex-row w-full space-x-10 ml-5">
    <a class="nav-item" href="{{ url_for('movies.index') }}">
      <img class="w-[40px]" src="static/images/reel.png" />
      <p class="my-2">Movies</p>
    </a>
    <a class="nav-item" href="{{ url_for('tags.index') }}">
      <img class="w-[40px]" src="static/images/tag.png" />
      <p class="my-2">Tags</p>
    </a>
  </div>

  <div class="log mb-5 mr-5 hover:bg-white/60 px-2 py-1 rounded-sm">
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('auth.login') }}" class="navbar-item"> Login </a>
    {% endif %} {% if current_user.is_authenticated %}
    <a href="{{ url_for('auth.logout') }}" class="navbar-item"> Logout </a>
    {% endif %}
  </div>
</div>
