{% extends 'layouts/base.html' %} {% block content %}
  <main class="w-fit bg-black/70 p-5">
    <!--------- logged in -------------->
    {% if current_user.is_authenticated %}
      <div class="text-center flex flex-col items-center">

        <!-- welcome -->
        <div class="flex flex-col text-left items-center md:text-[2em]">
          <p class="text-left mb-7">welcome back {{ current_user.name }}!</p>
        </div>

        <!-- message -->
        <div class="flex flex-col items-center mt-6">
          <img class="w-[120px] my-4" src="/static/images/ghost.png" />
          <p class="text-[1.5rem]">Seen any spooky <br />movies lately?</p>
        </div>

        <!-- add movie -->
        <div class="flex flex-col text-center mt-12 mb-3">
          <a
            class="flex flex-row items-center"
            href="{{ url_for('movies.new') }}"
          >
            <img
              class="w-[34px] p-2 rounded-full bg-green-700/90 hover:bg-green-800/90"
              src="/static/images/plus.png"
            />
            <p class="nav-item mx-[1px] text-3xl">add movie</p>
          </a>
        </div>
      
      </div>
    {% endif %}

      <!--------- NOT logged in -------------->
      {% if not current_user.is_authenticated %}
        <div class="text-center flex flex-col items-center">

          <!-- welcome -->
          <div class="flex flex-col text-left items-center md:text-[2em]">
            <p class="text-center">
              Are the ghosts and ghouls <br>getting jumbled in your head?
            </p>
          </div>

          <!-- message -->
          <div class="flex flex-col items-center mt-12">
            <img class="w-[120px] my-4" src="/static/images/skull.png" />
            <p class="text-[1.5rem]">Sort through your horrors!</p>
            <a href="{{ url_for('auth.login') }}" class="nav-item bg-slate-600/80 my-4 text-[1.3em]"
              >Join!</a>
          </div>

        </div>
      {% endif %}
    {% include "/partials/woman.html" %}
  </main>
{% endblock %}
