{% extends 'base.html' %} {% block content %}

<form method="POST" action="{{ url_for('main.new_movie') }}">
  {{ form.csrf_token }}

  <fieldset>
    <legend>New Movie</legend>

    {{ form.title.label }} {{ form.title }}

    <ul>
      {% for error in form.title.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>

    {{ form.release_date.label }}
    <input type="date" name="release_date" />

    <ul>
      {% for error in form.release_date.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>

    {{ form.tags.label }} {{ form.tags }}

    <ul>
      {% for error in form.tags.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>

    {{ form.submit }}
  </fieldset>
</form>

{% endblock %}
